<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :search="search"
      loading-text="Loading... Please wait"
      :loading="isActorLoading"
      no-data="No Actors Found"
      :items="actorsCollection"
      no-results-text="No Actors Found"
      sort-by="name"
      class="elevation-1"
    >
      <template v-slot:top>
        <app-fetchactors
          v-bind:dialog="dialog"
          v-bind:actor="sampleActor"
          v-bind:doEdit="doEdit"
          @actorDialog="dialogStatus($event)"
          @editStatus="editStatus($event)"
        ></app-fetchactors>
        <v-card-title>
          <v-card-title>Actor List</v-card-title>
          <v-btn @click.stop="dialog = true" class="mb-2 make-btn-green">
            <v-icon small class="mr-2">add</v-icon>New Actor
          </v-btn>
          <div class="flex-grow-1"></div>
          <v-text-field
            class="search-field"
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small @click="editActor(item)" class="mr-2">edit</v-icon>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import SaveActor from "../components/SaveActor";

export default {
  components: {
    appFetchactors: SaveActor
  },
  data: () => ({
    search: "",
    doEdit: false,
    isActorLoading: true,
    dialog: false,
    datePicker: false,
    headers: [
      {
        text: "Actor name",
        align: "left",
        value: "name",
        width: "12%"
      },
      { text: "Date Of Birth", value: "dob", width: "12%" },
      { text: "Sex", value: "sex", width: "7%" },
      { text: "Bio", value: "bio" },
      { text: "Actions", value: "action", sortable: false }
    ],
    actorsCollection: [],
    sampleActor: {
      id: "",
      name: "",
      dob: new Date().toISOString().substr(0, 10),
      bio: "",
      sex: "",
      role: 1
    }
  }),
  created() {
    this.initialize();
  },
  methods: {
    initialize() {
      this.$http.get("/api/actor").then(response => {
        this.actorsCollection = response.data;
        this.isActorLoading = false;
      });
    },
    dialogStatus(dialogStatus) {
      this.initialize();
      this.doEdit = false;
      this.dialog = dialogStatus;
    },
    editStatus() {
      this.sampleActor.id = "";
    },
    editActor(actor) {
      this.sampleActor = Object.assign({}, actor);
      this.doEdit = true;
      this.dialog = true;
    }
  }
};
</script>