<template>
  <div>
    <app-snackbar
      v-bind:showMessage="this.snackBar.isShowMessage"
      v-bind:color="this.snackBar.color"
      v-bind:message="this.snackBar.message"
    ></app-snackbar>
    <v-dialog v-model="isdeletePopup" max-width="490">
      <v-card>
        <v-card-title class="headline">Delete</v-card-title>
        <v-card-text>Are you sure you want to delete this Movie?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="isdeletePopup = false">Cancel</v-btn>
          <v-btn color="green darken-1" text @click="confirmDelete">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card>
      <v-data-table
        :headers="headers"
        :search="search"
        loading-text="Loading... Please wait"
        :loading="isMovieLoading"
        no-data="No Movies Found"
        :items="moviesCollection"
        no-results-text="No Movies Found"
        sort-by="moviename"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-card-title>
            <v-card-title>Movie List</v-card-title>
            <router-link
              to="/movies/add"
              tag="button"
              exact
              class="mb-2 make-btn-green v-btn v-btn--contained theme--light v-size--default"
            >
              <v-icon small style="color:#000" class="mr-2">add</v-icon>New Movie
            </router-link>
            <div class="flex-grow-1"></div>
            <v-text-field
              class="search-field"
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        </template>
        <template v-slot:item.poster="{ item }">
          <vue-load-image>
            <img slot="image" :src="item.poster" class="set-pic-size" />
            <img slot="preloader" class="set-pic-size" src="../assets/loader.gif" />
            <div slot="error">Poster Not Found</div>
          </vue-load-image>
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon small @click="editMovie(item)" class="mr-2">edit</v-icon>
          <v-icon small @click="deleteMovie(item)">delete</v-icon>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import VueLoadImage from "vue-load-image";
import Snackbar from "../components/SnackBar";

export default {
  components: {
    "vue-load-image": VueLoadImage,
    appSnackbar: Snackbar
  },
  data: () => ({
    isdeletePopup: false,
    isconfirmDelete: false,
    actorsCollection: [],
    search: "",
    deleteMovieData: [],
    isMovieLoading: true,
    headers: [
      {
        text: "Poster",
        align: "left",
        value: "poster",
        width: "12%",
        sortable: false
      },
      { text: "Movie name", value: "moviename", width: "12%" },
      { text: "Released Month", value: "year", width: "14%" },
      { text: "Plot", value: "plot" },
      { text: "Cast", value: "actors" },
      { text: "Actions", value: "action", sortable: false }
    ],
    snackBar: {
      isShowMessage: false,
      color: "",
      message: ""
    },
    moviesCollection: []
  }),
  created() {
    this.fetchMovies();
  },
  watch: {},
  methods: {
    fetchMovies() {
      this.$http.get("/api/movie").then(response => {
        this.moviesCollection = response.data;
        this.isMovieLoading = false;
      });
    },
    editMovie(movie) {
      this.editedIndex = this.moviesCollection.indexOf(movie);
      this.defaultMovie = Object.assign({}, movie);
      this.$router.push({
        path: `/movies/edit/${movie["id"]}`
      });
    },
    deleteMovie(movie) {
      this.isdeletePopup = true;
      this.deleteMovieData = movie;
    },
    confirmDelete() {
      this.isdeletePopup = false;
      this.isconfirmDelete = false;
      const index = this.moviesCollection.indexOf(this.deleteMovieData);
      this.$http
        .delete("/api/movie/" + this.deleteMovieData.id)
        .then(response => {
          if (response.status == 200) {
            this.deleteMovieData = [];
            this.moviesCollection.splice(index, 1);
            this.snackBar.isShowMessage = true;
            this.snackBar.color = "success";
            this.snackBar.message = "Movie Deleted";
            setTimeout(() => {
              this.snackBar.isShowMessage = false;
            }, 6000);
          }
        });
    }
  }
};
</script>
<style scoped>
.set-pic-size {
  width: 150px;
  height: 150px;
}
</style>