<template>
  <div>
    <app-snackbar
      v-bind:showMessage="this.snackBar.isShowMessage"
      v-bind:color="this.snackBar.color"
      v-bind:message="this.snackBar.message"
    ></app-snackbar>
    <app-storeactor v-bind:dialog="isActorDialog" @actorDialog="dialogStatus($event)"></app-storeactor>
    <div class="set-container-width">
      <v-card>
        <v-row class="change-padding">
          <v-col cols="6" sm="12" md="6">
            <span class="headline">{{ formTitle }}</span>
          </v-col>
          <v-col cols="6" sm="12" md="6" style="text-align:end;">
            <v-btn @click.stop="isActorDialog = true" class="mb-2 make-btn-green">
              <v-icon small class="mr-2">add</v-icon>New Actor
            </v-btn>
          </v-col>
        </v-row>
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="12" md="10" class="make-center">
              <v-col cols="12" sm="12" md="12">
                <v-text-field v-model="defaultMovie.moviename" label="Movie Name"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="12">
                <v-dialog
                  ref="dialog"
                  v-model="yearPicker"
                  :return-value.sync="defaultMovie.year"
                  persistent
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="defaultMovie.year"
                      label="Year Of Releasing"
                      transition="scale-transition"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker type="month" :max="maxYear" v-model="defaultMovie.year" scrollable>
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary" @click="yearPicker = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.dialog.save(defaultMovie.year)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-col>
              <v-col cols="12" sm="12" md="7">
                <label class="v-label theme--light">Poster</label>
                <br />
                <input
                  required
                  label="Select Poster"
                  type="file"
                  ref="image"
                  accept="image/*"
                  @change="onFilePicked"
                />
              </v-col>
              <v-col cols="12" sm="12" md="7">
                <img
                  v-show="this.defaultMovie.poster"
                  :src="this.defaultMovie.poster"
                  class="set-pic-size"
                />
              </v-col>

              <v-col cols="12" sm="12" md="12">
                <multiselect
                  v-model="defaultMovie.actors"
                  tag-placeholder="Add More Actors"
                  placeholder="Select Actors"
                  label="name"
                  track-by="id"
                  :options="actorsCollection"
                  :multiple="true"
                  :allowEmpty="true"
                  :taggable="true"
                ></multiselect>
              </v-col>
              <v-col />
              <v-col cols="12" sm="12" md="12">
                <v-textarea outlined v-model="defaultMovie.plot" label="Plot"></v-textarea>
              </v-col>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions style="display:flow-root">
          <v-col cols="4">
            <v-btn class="make-btn-green" :disabled="isLoading" block @click="saveMovie">
              <v-progress-circular v-if="isLoading" :size="30" color="make-btn-green" indeterminate></v-progress-circular>
              <span v-else>Save</span>
            </v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import SaveActor from "../components/SaveActor";
import Snackbar from "../components/SnackBar";

export default {
  components: {
    Multiselect,
    appStoreactor: SaveActor,
    appSnackbar: Snackbar
  },
  data: () => ({
    maxYear: new Date().toISOString().substr(0, 7),
    actorsCollection: [],
    isActorDialog: false,
    isLoading: false,
    yearPicker: false,
    valid: true,
    posterName: "",
    posterFile: "",
    editedIndex: -1,
    snackBar: {
      isShowMessage: false,
      color: "",
      message: ""
    },
    defaultMovie: {
      id: "",
      moviename: "",
      year: new Date().toISOString().substr(0, 7),
      plot: "",
      actors: [],
      poster: ""
    },
    sampleMovie: {
      id: "",
      moviename: "",
      year: new Date().toISOString().substr(0, 7),
      plot: "",
      actors: [],
      poster: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add New Movie" : "Edit Movie";
    }
  },
  async created() {
    await this.fetchActors();
    await this.checkEdit();
  },
  watch: {
    Snackbar() {}
  },
  methods: {
    async checkEdit() {
      if (this.$route.params["id"]) {
        this.editedIndex = 1;
        const fetchMovie = await this.$http.get(
          `/api/movie/${this.$route.params["id"]}`
        );
        this.defaultMovie = await Object.assign({}, fetchMovie.data);
        var actors = [];
        await fetchMovie.data.actors.split(",").forEach(element => {
          actors.push(
            this.actorsCollection.find(o => o.name === element.trim())
          );
          this.posterName = "Poster Selected";
        });
        this.defaultMovie.actors = await actors;
      }
    },
    dialogStatus(dialogStatus) {
      this.fetchActors();
      this.isActorDialog = dialogStatus;
    },

    pickFile() {
      this.$refs.image.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        if (files[0].name.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.defaultMovie.poster = fr.result;
          this.posterFile = files[0];

          var uploadPoster = new FormData();
          uploadPoster.append("poster", files[0]);

          if (files[0].size / 1024 / 1024 > 1) {
            this.snackBar.isShowMessage = true;
            this.snackBar.color = "error";
            this.snackBar.message = "Poster Should be below 1 MB";
            this.isLoading = false;
            this.posterName = "";
            this.posterFile = "";
            this.defaultMovie.poster = "";
            setTimeout(() => {
              this.snackBar.isShowMessage = false;
            }, 6000);
          } else {
            this.$http
              .post("/api/posterupload", uploadPoster, {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              })
              .then(res => {
                if (res.status == 200) {
                  this.defaultMovie.poster = res.data;
                } else {
                  this.snackBar.isShowMessage = true;
                  this.snackBar.color = "error";
                  this.snackBar.message = "Try Again Later";
                  this.posterName = "";
                  this.posterFile = "";
                  this.defaultMovie.poster = "";
                  this.isLoading = false;
                  setTimeout(() => {
                    this.snackBar.isShowMessage = false;
                  }, 6000);
                }
              });
          }
        });
      } else {
        this.posterName = "";
        this.posterFile = "";
        this.defaultMovie.poster = "";
      }
    },
    async fetchActors() {
      await this.$http.get("/api/actor").then(response => {
        this.actorsCollection = response.data;
      });
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.valid = true;
      } else {
        this.valid = false;
      }
    },
    saveMovie() {
      this.isLoading = true;
      if (!this.defaultMovie.moviename) {
        this.snackBar.isShowMessage = true;
        this.snackBar.color = "error";
        this.snackBar.message = "Movie Name is required";
        this.isLoading = false;
      } else if (this.defaultMovie.moviename.length >= 30) {
        this.snackBar.isShowMessage = true;
        this.snackBar.color = "error";
        this.snackBar.message = "Movie Name must be less than 30 characters";
        this.isLoading = false;
      } else if (!this.defaultMovie.year) {
        this.snackBar.isShowMessage = true;
        this.snackBar.color = "error";
        this.snackBar.message = "Select year of releasing";
        this.isLoading = false;
      } else if (!this.defaultMovie.poster) {
        this.snackBar.isShowMessage = true;
        this.snackBar.color = "error";
        this.snackBar.message = "Poster is required";
        this.isLoading = false;
      } else if (!this.defaultMovie.plot) {
        this.snackBar.isShowMessage = true;
        this.snackBar.color = "error";
        this.snackBar.message = "Plot is required";
        this.isLoading = false;
      } else if (this.defaultMovie.plot.length >= 500) {
        this.snackBar.isShowMessage = true;
        this.snackBar.color = "error";
        this.snackBar.message = "Plot must be less than 500 characters";
        this.isLoading = false;
      } else if (this.defaultMovie.actors.length <= 0) {
        this.snackBar.isShowMessage = true;
        this.snackBar.color = "error";
        this.snackBar.message = "Select Atleast One Actors";
        this.isLoading = false;
      } else {
        var actorId = "";
        this.defaultMovie.actors.forEach(element => {
          actorId += element.id + ",";
        });
        if (this.editedIndex > -1) {
          this.$http
            .put("/api/movie", {
              id: this.defaultMovie.id,
              Moviename: this.defaultMovie.moviename,
              Plot: this.defaultMovie.plot,
              Poster: this.defaultMovie.poster,
              Year: this.defaultMovie.year,
              Actors: actorId.substring(0, actorId.length - 1)
            })
            .then(response => {
              this.isLoading = false;
              this.snackBar.isShowMessage = true;
              if (response.status == 200) {
                this.snackBar.color = "success";
                this.snackBar.message = "Movie Updated";
              } else {
                this.snackBar.color = "error";
                this.snackBar.message = "Something went wrong";
              }
              this.$router.push({
                name: "home"
              });
            });
        } else {
          this.$http
            .post("/api/movie", {
              Moviename: this.defaultMovie.moviename,
              Plot: this.defaultMovie.plot,
              Poster: this.defaultMovie.poster,
              Year: this.defaultMovie.year,
              Actors: actorId.substring(0, actorId.length - 1)
            })
            .then(response => {
              if (response.status == 200) {
                this.posterName = "";
                this.isLoading = false;
                this.posterFile = "";
                this.snackBar.isShowMessage = true;
                this.snackBar.color = "success";
                this.snackBar.message = "Movie Inserted";
              } else {
                this.snackBar.color = "error";
                this.snackBar.message = "Something went wrong";
              }
              this.defaultMovie = Object.assign({}, this.sampleMovie);
            });
        }
      }
      setTimeout(() => {
        this.snackBar.isShowMessage = false;
      }, 6000);
    }
  }
};
</script>
<style scoped>
.set-pic-size {
  width: 160px;
  height: 100px;
}
.change-padding {
  margin-left: initial;
  margin-right: inherit;
  padding-top: 10px;
}
.change-nav-link {
  color: #ecde4e !important;
}
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>