<template>
  <div class="container-fluid">
    <b-navbar toggleable="lg" type="dark" class="navbar-color">
      <router-link to="/" style="cursor:pointer" tag="b-navbar-brand" class="change-nav-link" exact>
        <img src="../assets/logo.png" style="width: 41px;height: 32px;" />
      </router-link>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <router-link to="/" tag="b-nav-item" active-class="active" exact>MOVIE</router-link>
          <router-link to="/actors" tag="b-nav-item" active-class="active">ACTOR</router-link>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<style scoped>
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-color {
  background-color: #191919;
}
.navbar {
  padding: 0.6rem 1rem;
}
.active {
  color: #ecde4e !important;
}
.nav-link {
  color: #ecde4e !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: white;
  }
}
li {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  font-size: 0.875rem;
}
</style>