<template>
  <div>
    <app-snackbar
      v-bind:showMessage="this.snackBar.isShowMessage"
      v-bind:color="this.snackBar.color"
      v-bind:message="this.snackBar.message"
    ></app-snackbar>
    <v-dialog persistent scrollable v-model="dialog" max-width="585px">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-card class="change-table-background">
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :rules="actorRules.name"
                    required
                    v-model="defaultActor.name"
                    label="Actor Name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <label for="input-289" class="v-label theme--light" style="left: 0px;">Gender</label>
                  <v-radio-group v-model="defaultActor.sex" row style="display:unset">
                    <v-row cols="12">
                      <v-col cols="3">
                        <v-radio label="Male" value="Male"></v-radio>
                      </v-col>
                      <v-col cols="3">
                        <v-radio class="mx-2" label="Female" value="Female"></v-radio>
                      </v-col>
                      <v-col cols="4">
                        <v-radio class="mx-2" label="Not Specified" value="Others"></v-radio>
                      </v-col>
                    </v-row>
                  </v-radio-group>
                </v-col>
                <v-col cols="12">
                  <v-dialog
                    ref="dialog"
                    v-model="datePicker"
                    :return-value.sync="defaultActor.dob"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="defaultActor.dob"
                        label="Date Of Birth"
                        prepend-icon="event"
                        transition="scale-transition"
                        readonly
                        :rules="actorRules.dob"
                        required
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker :max="setMaxDate" v-model="defaultActor.dob" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="datePicker = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.dialog.save(defaultActor.dob)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    outlined
                    v-model="defaultActor.bio"
                    :rules="actorRules.bio"
                    required
                    label="Bio"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="error" @click="close">Cancel</v-btn>
            <v-btn color="make-btn-green" :disabled="isLoading" @click="saveActor">
              <v-progress-circular v-if="isLoading" :size="30" color="make-btn-green" indeterminate></v-progress-circular>
              <span v-else>Save</span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>
<script>
import Snackbar from "../components/SnackBar";

export default {
  components: {
    appSnackbar: Snackbar
  },
  props: ["dialog", "actor", "doEdit"],
  data: () => ({
    isLoading: false,
    setMaxDate: new Date().toISOString().substr(0, 10),
    actorRules: {
      name: [
        v => !!v || "Actor Name is required",
        v =>
          (v && v.length <= 30) || "Actor Name must be less than 30 characters"
      ],
      bio: [
        v => !!v || "Something about actor",
        v => (v && v.length <= 500) || "Bio must be less than 500 characters"
      ],
      dob: [v => v && v != new Date().toISOString().substr(0, 10)]
    },
    datePicker: false,
    valid: true,
    snackBar: {
      isShowMessage: false,
      color: "",
      message: ""
    },
    defaultActor: {
      id: "",
      name: "",
      dob: new Date().toISOString().substr(0, 10),
      bio: "",
      sex: "Male",
      role: 1
    },
    sampleActor: {
      id: "",
      name: "",
      dob: new Date().toISOString().substr(0, 10),
      bio: "",
      sex: "Male",
      role: 1
    },
    editedIndex: -1
  }),
  computed: {
    formTitle() {
      return !this.doEdit ? "Add New Actor" : "Edit Actor";
    }
  },
  watch: {
    dialog: function() {
      if (this.doEdit) {
        this.defaultActor = Object.assign({}, this.actor);
      }
    }
  },
  methods: {
    close() {
      this.$emit("actorDialog", false);
      this.defaultActor = Object.assign({}, this.sampleActor);
      this.$emit("editStatus", "success");
    },
    saveActor() {
      this.isLoading = true;
      if (this.$refs.form.validate()) {
        if (this.doEdit) {
          this.$http
            .put("/api/actor", {
              id: this.defaultActor["id"],
              name: this.defaultActor["name"],
              dob: this.defaultActor["dob"],
              sex: this.defaultActor["sex"],
              bio: this.defaultActor["bio"],
              role: 1
            })
            .then(response => {
              this.isLoading = false;
              this.snackBar.isShowMessage = true;
              this.$emit("editStatus", "success");
              if (response.status == 200) {
                this.snackBar.color = "success";
                this.snackBar.message = "Actor Updated";
              } else {
                this.snackBar.color = "error";
                this.snackBar.message = "Something went wrong";
              }
              this.close();
              setTimeout(() => {
                this.snackBar.isShowMessage = false;
              }, 6000);
            });
        } else {
          this.$http
            .post("/api/actor", {
              name: this.defaultActor["name"],
              dob: this.defaultActor["dob"],
              sex: this.defaultActor["sex"],
              bio: this.defaultActor["bio"],
              role: 1
            })
            .then(response => {
              this.isLoading = false;
              this.snackBar.isShowMessage = true;
              if (response.status == 200) {
                this.snackBar.color = "success";
                this.snackBar.message = "New Actor Inserted";
              } else {
                this.snackBar.color = "error";
                this.snackBar.message = "Something went wrong";
              }
              this.close();
              setTimeout(() => {
                this.snackBar.isShowMessage = false;
              }, 6000);
            });
        }
      } else {
        this.isLoading = false;
      }
    }
  }
};
</script>