<template>
  <div>
    <v-snackbar
      v-model="isShowMessage"
      :color="color"
      :right="false"
      :left="true"
      :top="false"
      :bottom="true"
      :multi-line="false"
      :timeout="6000"
      :vertical="false"
    >{{ message }}</v-snackbar>
  </div>
</template>
<script>
export default {
  props: ["showMessage", "color", "message"],
  data: () => ({
    isShowMessage: false
  }),
  watch: {
    showMessage() {
      this.isShowMessage = this.$props.showMessage;
    }
  }
};
</script>