<template>
  <v-app>
    <v-content class="change-background-color">
      <router-view name="header-top"></router-view>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>
<style>
.change-background-color {
  background-color: #c1c1bd !important;
}
.make-btn-green {
  background-color: #f3c517 !important;
  color: #000 !important;
}
.search-field {
  width: 250px;
  flex: unset;
}
.v-radio {
  display: unset;
}
.multiselect__tags {
  border: 1px solid rgba(0, 0, 0, 0.42) !important;
}
@font-face {
  font-family: "BasisGrotesquePro-Bold";
  src: url("./assets/fonts/BasisGrotesquePro-Bold.ttf");
}
.v-data-table td {
  height: unset !important;
}
body,
h1,
h2,
h3,
h4,
h5,
a,
h6,
div,
p,
span {
  font-family: "BasisGrotesquePro-Bold" !important;
  font-weight: bold !important;
}
.set-container-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.make-center {
  margin-left: auto;
  margin-right: auto;
}
</style>